/* STYLE SHEET */

/* ==================================================
   PROJECT: The Odin Project - Admin Dashboard
   AUTHOR: Reagan Konkle
   LAST UPDATED: 2025-01-28
================================================== */

/* ==================================================
   GLOBAL VARIABLES & RESET
================================================== */
* {
    margin: 0;
    padding: 0;
}